*{
  /* box-sizing: border-box;
  padding: 5px;
  border: 1px solid black;
  margin:0; */
}


@media screen and (max-width:419px){

  #lezioni .row > .left, #lezioni .row > .right{
    width:100%;
    float: none;
  }

  #steps .row > .left, #steps .row > .central, #steps .row > .right{
    width:100%;
    float: none;
  }

  .row{
    width: auto;
  }

  img{
    width: 50%;
    height: auto;
  }

}
